.barberCard {
  width: 300px;
  justify-content: center;
  cursor: pointer;
  padding: 10px 5px;
  color: white;
  background-color: gray;
  align-items: center;
  display: flex;
  font-size: 6px;
  border-radius: 10px;
  opacity: 0.8;
  gap: 20px;
}

.barberCard:hover {
  opacity: 1;
}
